<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>美图</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-title" content="美图">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="HandheldFriendly" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="domain_verify"
          content="pmrgi33nmfuw4ir2ejxxaz3jojwhgltdnyrcyithovuwiir2ejtdinbrhbsdomtdmzrtenbymy2tqzjtmq2dozjtgu2dczbtmyzgeirmej2gs3lfknqxmzjchiytinzzgqztsmjqgqztsm35">
    <meta name="baidu_union_verify" content="af6a18ad4a4c4ead5f76ba1da3f7aa08">
    <link href="http://s.opfed.com/opgirl/prd/build@f85363.css" rel='stylesheet' type='text/css'>
</head>
<body>
<!-- <script type="text/javascript">
    /*opgirl图+标签*/
    var cpro_id = "u2812923";
</script>
<script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/mi.js"></script>
 -->
<header class="header clearfix">
    <a href="javascript:;" class="top-back-btn j_history_back" id="home_back">
        <i class="icon-back vertical-middle"></i>
    </a>
    <h1 class="main-title" id="main_title">美图</h1>
    <script>
        !function () {
            var e, n = function (e) {
                e = e.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                var n = new RegExp("[\\?&]" + e + "=([^&#]*)"), c = n.exec(location.search);
                return null === c ? "" : decodeURIComponent(c[1].replace(/\+/g, " "))
            }, c = n("did") || 2, t = document.getElementById("main_title");
            e = (138 == c) ? "小欧美图" : ((160 == c || 2 == c) ? "美图" : "美图"), t.innerHTML = e;
            (138 == c) && (document.getElementById('home_back').style.display = 'none');
            window.__c__ = c;
        }();
    </script>
</header>

<section class="container" id="container">
    <section class="nav" id="nav"></section>
    <section class="label-box" id="label_box">
        <nav class="label-nav">
            <a data-st="0" class="on j_lbl_btn" href="javascript:;">最新</a>
            <a data-st="1" class="j_lbl_btn" href="javascript:;">热门</a>
            <a data-st="2" class="j_lbl_btn" href="javascript:;">精选</a>
        </nav>
    </section>
    <section class="main waterfall-box" id="waterfall_box">
        <div class="waterfall" id="waterfall"></div>
        <div class="loading-bar" id="loading_bar">
            <i class="icon-loading"></i>
            <span>加载中...</span>
        </div>
        <div class="no-data-tips" id="no_data_tips">没有数据了...</div>
    </section>
</section>

<section class="detail-view" id="detail_view">
    <div class="detail_slide" id="detail_slide"></div>
</section>

<section class="detail-bars" id="detail_bars">
    <section id="detail_top_bar" class="detail_top_bar clearfix"></section>
    <section id="images_bottom_bar" class="images-bottom-bar">
        <div id="bottomInfo" class="bottom-info"></div>
        <div class="label-bottom-info">
            <div class="label-random"></div>
            <div class="opera clearfix">
                <a href="javascript:;" class="heart helper">
                    <i class="icon-heart gray-heart"></i>
                </a>
                <a href="javascript:;" class="download helper">
                    <i class="icon-download"></i>
                </a>
                <a href="javascript:;" class="share helper">
                    <i class="icon-share"></i>
                </a>
            </div>
        </div>
    </section>
    <section class="page-num" id="page_num"></section>
</section>

<div class="back-top helper" id="back_top">
    <i class="icon-backTop"></i>
</div>

<script id="template_top_nav" type="text/html">
    <div id="top_main_nav" style="overflow: hidden;">
        <nav class="main-nav main-nav-<%=did%>">
            <% for( var i = 0, len = channelList.length; i < len; i++) { %>
            <% if(channelList[i].id === cid) { %>
            <a data-id="<%=channelList[i].id%>" class="on"
               href="#cid=<%=channelList[i].id%>"><%=channelList[i].name%></a>
            <% }else { %>
            <a data-id="<%=channelList[i].id%>" href="#cid=<%=channelList[i].id%>"><%=channelList[i].name%></a>
            <% } %>
            <% }%>
        </nav>
    </div>
    <% if(labelList) { %>
    <nav class="vice-nav j_nav_toggle" id="top_nav">
        <div class="nav-box clearfix">
            <% for( var i = 0, len = labelList.length; i < len; i++) { %>
            <a data-id="<%=labelList[i].id%>" class="<%=colors[i]%>" href="#lid=<%=labelList[i].id%>"><%=labelList[i].name%></a>
            <% }%>
        </div>
        <a href="javascript:;" class="nav-toggle">
            <i class="icon-back icon-down"></i>
        </a>
    </nav>
    <% }%>
</script>

<script id="template_list" type="text/html">
    <div class="list" data-count="<%=pictureCount%>" data-index="<%=orderIndex%>" data-id="<%=id%>">
        <img data-width="<%=width%>" data-height="<%=height%>" height="<%=actualHeight%>" src="<%=url%>"
             alt="<%=title%>"/>
        <div class="img-detail clearfix">
            <div class="heart">
                <i class="icon-heart"></i>
                <span class="num"><%=fontCount%></span>
            </div>
            <div class="images">
                <i class="icon-images"></i>
                <span class="num"><%=pictureCount%>张</span>
            </div>
        </div>
    </div>
</script>

<script id="template_d_t_bar" type="text/html">
    <a href="javascript:;" class="back-btn">
        <i class="icon-back vertical-middle"></i>
    </a>
    <h1 class="main-title ellipsis"><%=title%></h1>
    <span class="pagination"><%=index%><i>/</i><%=count%></span>
</script>

<script id="template_guide" type="text/html">
    <section class="user-guide">
        <div class="guide-close"></div>
        <div class="tips-box">
            <div class="g-tips tips1 clearfix"><i></i><span>点击屏幕<br/>可以切换全屏浏览哦！</span></div>
            <% if(window.__c__ == 254) { %>
            <div class="g-tips tips3 clearfix"><i></i><span>上下滑动<br/>查看上一张下一张图片哦！</span></div>
            <% }else { %>
            <div class="g-tips tips2 clearfix"><i></i><span>左右滑动<br/>查看上一张下一张图片哦！</span></div>
            <% } %>
        </div>
    </section>
</script>
<script src="http://s.opfed.com/lib/zepto/1.2.0/zepto.min.js"></script>
<script src="http://s.opfed.com/opgirl/prd/build@8c3fb7.js"></script>
<div style="display: none;">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1260904853'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol
            + "s11.cnzz.com/z_stat.php%3Fid%3D1260904853' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</body>
</html>