<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" nolog="true"  scanPeriod="60 seconds">

    <contextName>RA-Server</contextName>

    <property name="logging_home" value="RAServerLogs" />
    <property name="logging_backup_home" value="${logging_home}/backup" />


    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %date{yyyy-MM-dd HH:mm:ss} %level [%thread] %10logger[%file:%line] - %msg%n
            </pattern>
        </layout>
    </appender>

    <appender name="sizeFileRollingBackup" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %10logger[%file:%line] - %msg%n
            </pattern>
        </layout>
        <file>${logging_home}/ra_server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>
                ${logging_backup_home}/ra_server.%i.log.zip
            </fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>1MB</maxFileSize>
        </triggeringPolicy>

    </appender>

    <root level="INFO">
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="sizeFileRollingBackup" />
    </root>
</configuration>